@{
    ViewData["Title"] = "Painel do Admistrador";
}

<div class="container my-5">
    <div class="mb-4">
        <h1 class="display-6 text-color-primary">Painel do Admistrador</h1>
    </div>

    <div class="row row-cols-3 row-cols-md-6 p-3 shadow-sm border rounded bg-light ">
        <div class="col">
            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
               asp-controller="Admin"
               asp-action="CreatePrescribingInformation">
                Cadastrar novas bulas
            </a>
        </div>
    </div>

</div>