@model ThanksForTheClassificationsViewModel;
@{
    ViewData["Title"] = "Obrgiador por nos ajudar";
}

<div class="container my-5">
    <div class="mb-4">
        <h1 class="display-6 text-color-primary">Agradecimentos</h4>
        <h2 class="display-4">
            Muito obrigado pela sua contribuição!
        </h2>
    </div>   

    <hr>

    <div class="mb-4">
        <p class="lead">
            Gostaríamos de expressar nossa profunda gratidão por sua valiosa contribuição na classificação de entidades nomeadas em bulas farmacêuticas. Seu empenho e dedicação estão ajudando a impulsionar inovações tecnológicas na área médica, tornando a extração de informações mais precisa e eficiente.
        </p>

        <p class="lead">
            Graças ao seu esforço, estamos um passo mais perto de desenvolver ferramentas que podem auxiliar profissionais de saúde a acessar informações cruciais de maneira mais rápida e confiável. Sua participação é essencial para o avanço da ciência e da tecnologia, e somos imensamente gratos por seu apoio.
        </p>

        <p class="lead">
            Para visualizar as classificações que você realizou e acessar outras ferramentas úteis, clique no link abaixo:
        </p>

        <p class="lead">
            <a asp-controller="User" asp-action="YourClassifications">Veja suas classificações anteriores</a>  | <a asp-asp-controller="Home" asp-action="WhereToStart">Descubra mais recursos úteis</a>
        </p>

        <p class="lead">
            Mais uma vez, muito obrigado por fazer parte desta jornada inovadora!
        </p>

        <p class="lead">
            Atenciosamente,
            <br>
            <strong>Equipe MedTagger</strong>
        </p>
            

    </div>

</div>