# Ignorar os diretórios bin e obj que não são necessários para a construção da imagem
src/**/bin
src/**/obj

# Ignorar arquivos de configuração locais
.vscode/
.idea/
*.user
*.suo
*.sln.docstates

# Ignorar arquivos de log
*.log

# Ignorar arquivos do sistema operacional
**/.DS_Store
**/Thumbs.db

# Ignorar testes unitários
src/Classificador.Api.Tests.Unit
