@{
    ViewData["Title"] = "Sobre Nós";
}

<div class="container my-5">
    <div class="mb-4">
        <h1 class="display-6 text-color-primary">Sobre Nós</h1>
        <h2 class="display-4">Ajudando no treinamendo de modelos de PLN na área da Saúde</h2>
    </div>

    <hr>

    <div class="mb-4">
        <h3 class="display-6">Bem-vindo ao <span class="text-color-primary">MedTagger</span>!</h3>
        <p class="lead">
            Somos uma plataforma dedicada à classificação de entidades nomeadas em bulas farmacêuticas. Nosso objetivo é facilitar a organização e categorização de informações presentes nesses documentos, contribuindo para o avanço da pesquisa em Processamento de Linguagem Natural (PLN) na área da saúde.
        </p>

        <p class="lead">
            O MedTagger nasceu como um Trabalho de Conclusão de Curso no curso de Sistemas de Informação do Instituto Federal do Espírito Santo (IFES), campus Cachoeiro de Itapemirim. Acreditamos no poder da tecnologia para transformar dados em conhecimento valioso, e nossa missão é fornecer uma ferramenta eficiente e precisa para apoiar o desenvolvimento de modelos de PLN que possam melhorar a compreensão e utilização das informações contidas em bulas farmacêuticas.
        </p>

        <p class="lead">
            Nosso compromisso é com a qualidade e a inovação, buscando sempre aprimorar nossas soluções para atender às necessidades da comunidade acadêmica e dos profissionais da saúde. Convidamos você a explorar nossa plataforma e descobrir como o MedTagger pode contribuir para suas pesquisas e projetos.
        </p>
            
        <p class="lead">
            Obrigado por nos visitar!
        </p>

        <br>
        
        <p class="lead">
            <strong>Equipe MedTagger</strong>
        </p>
        
    </div>
    
</div>
