@model ContactViewModel;
@{
    ViewData["Title"] = "Contatos";
    var nameFailures = TempData["NameFailures"] as List<string>;
    var emailFailures = TempData["EmailFailures"] as List<string>;
    var subjectFailures = TempData["SubjectFailures"] as List<string>;
    var messageFailures = TempData["MessageFailures"] as List<string>;

}

<div class="container my-5">
    <div class="mb-4">
        <h1 class="display-6 text-color-primary">Contato</h1>
        <h2 class="display-4">
            Estamos aqui para ajudar!
        </h2>
    </div>   

    <hr>

    <div class="mb-4">
        <h3 class="display-6">A equipe <span class="text-color-primary">MedTagger</span> agradece o contato.</h3>
        <p class="lead">
            Se você tiver alguma dúvida, sugestão ou precisar de assistência, sinta-se à vontade para entrar em contato conosco. Você pode nos enviar uma mensagem através do formulário abaixo ou enviar um e-mail diretamente para nossa equipe.
        </p>

        <div class="row row-cols-1 row-cols-md-2 mt-4 g-6">
            <div class="col mb-3">
                <h4 class="display-6 mb-3">Formulário de Contato</h4>
                <form method="post" asp-action="PostSendEmailToContact" asp-controller="Home">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="InputName" placeholder="Nome Completo" asp-for="Name" required>
                        <label class="form-label" for="InputName">Nome Completo</label>
                        @if(nameFailures != null && nameFailures.Count() != 0)
                        {
                            <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                                @foreach(var failure in nameFailures)
                                {
                                    <span>•</span> @failure
                                    <br>
                                }
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                            </div>
                        }
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="email" id="InputEmail" placeholder="Email" asp-for="Email" required>
                        <label class="form-label" for="InputEmail">Email</label>
                        @if(emailFailures != null && emailFailures.Count() != 0)
                        {
                            <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                                @foreach(var failure in emailFailures)
                                {
                                    <span>•</span> @failure
                                    <br>
                                }
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                            </div>
                        }
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="InputSubject" placeholder="Assunto" asp-for="Subject" required>
                        <label class="form-label" for="InputSubject">Assunto</label>
                        @if(subjectFailures != null && subjectFailures.Count() != 0)
                        {
                            <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                                @foreach(var failure in subjectFailures)
                                {
                                    <span>•</span> @failure
                                    <br>
                                }
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                            </div>
                        }
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="TextAreaMessage" rows="3" placeholder="Mensagem" asp-for="Message" required></textarea>
                        <label class="form-label" for="TextAreaMessage">Mensagem</label>
                        @if(messageFailures != null && messageFailures.Count() != 0)
                        {
                            <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                                @foreach(var failure in messageFailures)
                                {
                                    <span>•</span> @failure
                                    <br>
                                }
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                            </div>
                        }
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-color-success">Enviar</button>
                        <button type="reset" class="btn btn-color-warning">Apagar</button>
                    </div>

                </form>
            </div>

            <div class="col mb-3">
                <h4 class="display-6 mb-3">E-mail</h4>
                <p class="lead">Prefere enviar um e-mail? Sem problemas! Você pode nos contatar pelo endereço:</p>
                <p class="lead"><strong>@Model.EmailToContact</strong></p>
            </div>

        </div>

    </div>
    
</div>
