@{
    ViewData["Title"] = "Página Inicial";
}

<div class="mb-5">
    <picture>
        <img class="img-fluid" src="~/img/HomeBannerPresentationMedTagger.png" alt="Banner MedTagger.">
    </picture>
</div>

<div class="container mb-5">

    <div class="row justify-content-center mb-4">
        <div class="col-8 text-center">
            <p class="display-6">O MedTagger é uma solução independente que facilita a classificação de entidades nomeadas para aqueles interessados em técnicas de NLP na área da saúde.</p>
        </div>
    </div>

    <hr>
    
    <div class="row row-cols-1 row-cols-md-2 mb-4">

        <div class="col p-3">
            <h4 class="display-6 text-color-primary">Rápido</h4>
            <h3 class="display-4">Contribua com novas soluções de Inteligência Artificial na área da saúde</h3>
            <p class="lead fs-4">O MedTagger oferece uma solução ágil e eficiente para profissionais de saúde que desejam contribuir com o avanço das tecnologias de Processamento de Linguagem Natural (PLN). Nos ajude a classificar entidades nomeadas em bulas farmacêuticas para a geração de dados de treinamento.</p>
            <a asp-controller="Home" asp-action="About" class="btn btn-color-success">Saiba Mais</a>

        </div>

        <div class="col">
            <figure>
                <img class="img-fluid" src="~/img/HomeInteligenciaArtificialRobot.jpg" alt="Inteligência Artificial. Autor: macrovector">
                <figcaption>Autor: macrovector</b></figcaption>
            </figure>
        </div>

    </div>

    <div class="row row-cols-1 row-cols-md-2 mb-4 d-flex flex-md-row-reverse">
        
        <div class="col p-3">
            <h4 class="display-6 text-color-primary">Intuitivo e eficiente</h4>
            <h3 class="display-4">A interface intuitiva permite que você marque e categorize termos com facilidade.</h3>
            <p class="lead fs-4">Com apenas um clique em categorias pré-definidas você já está ajudando a gerar um <i>dataset</i> para a bula selecionada. Essa abordagem permite que um único usuário classifique várias entidades em um curto período de tempo.</p>

            <a asp-controller="Home" asp-action="WhereToStart" class="btn btn-color-success">Saiba Mais</a>
        </div>

        <div class="col">
            <figure>
                <img class="img-fluid" src="~/img/HomeAnnotation.jpg" alt="Anotação de entidades nomeadas.">
                <figcaption>Autor: storyset</figcaption>
            </figure>
        </div>

    </div>
    
</div>
