@{
    ViewData["Title"] = "Por onde Começar";
}

<div class="container my-5">
    <div class="mb-4">
        <h1 class="display-6 text-color-success">Por onde Começar</h1>
        <h2 class="display-4">Estamos aqui para ajudar</h2>
    </div>

    <hr>

    <div class="mb-4">
        <div class="mb-2">
            <h3>Por Onde Começar</h3>
            <p class="lead">Bem-vindo à nossa plataforma de classificação de entidades nomeadas em bulas farmacêuticas! Estamos aqui para facilitar a extração e organização de informações cruciais presentes nas bulas de medicamentos. Siga os passos abaixo para começar a utilizar nossa ferramenta de forma eficiente:</p>
        </div>

        <div class="mb-2">
            <h3>Crie uma Conta</h3>
            <p class="lead">Para acessar todas as funcionalidades da nossa plataforma, você precisará criar uma conta. Clique no botão <a class="lead link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" asp-controller="Home" asp-action="SignUp">Cadastrar</a> no menu superior da página e preencha os campos necessários.</p>
        </div>

        <div class="mb-2">
            <h3>Escolha a Bula</h3>
            <p class="lead">Clique em <a class="lead link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" asp-controller="User" asp-action="ChoosePrescribingInformation">Comece a Classificar</a> no menu superior. Até o momento, não oferecemos uma forma de cadastrar sua própria bula. As bulas disponíveis são fornecidas pela equipe de administração da plataforma. No entanto, estamos trabalhando para permitir o upload de bulas personalizadas no futuro. Lembre-se é importante estar <strong>logado no sistema</strong> para realizar essa ação.</p>
            <div class="text-center">
                <img class="img-fluid w-75" src="~/img/ChoosePrescribingInformation.gif" alt="Classificação de Entidades Nomeadas.">
            </div>
        </div>

        <div class="mb-2">
            <h3>Classifique as Entidades Nomeadas</h3>
            <p class="lead">
                Após escolher a bula, as entidades pré-cadastradas pelos usuários serão dispostas na tela. Uma série de botões de categorias aparecerá, permitindo que você classifique as entidades apenas clicando nos botões. Você também terá a opção de adicionar um comentário. As entidades serão dispostas em uma tabela à esquerda da tela, mostrando as classificações feitas por você. Caso haja alguma classificação errada, você poderá excluí-la diretamente na tabela. A classificação será completa somente quando você clicar no botão “Enviar”.
            </p>
            <div class="text-center">
                <img class="img-fluid w-75" src="~/img/ClassifyAnimation.gif" alt="Classificação de Entidades Nomeadas.">
            </div>
        </div>

        <div class="mb-2">
            <h3>Obtenha os resultados de forma cooperativa</h3>
            <p class="lead">
                Antes mesmo de terminar ou sequer começar a classificação você pode fazer o download de entidades nomeadas já classificadas por outro usuário. Acontece que o MedTagger utiliza um sistema de <strong>votação</strong> para atribuir categorias as entidades nomeadas, isso faz que a categoria mais votada seja a escolhida como a classificação verdadeira.
            </p>
            <div class="text-center">
                <img class="img-fluid w-75" src="~/img/DownloadClassifications.gif" alt="Classificação de Entidades Nomeadas.">
            </div>
        </div>

        <div class="mb-2">
            <h4>Suporte e Ajuda</h4>
            <p class="lead">Se você encontrar qualquer dificuldade ou tiver dúvidas, nossa equipe de suporte está à disposição para ajudar. Acesse a seção <a class="lead link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" asp-controller="Home" asp-action="Contact">Contatos</a> ou entre em contato diretamente conosco através do e-mail medtagger.contato@gmail.com.</p>
        </div>
         
        <div class="mb-2">
            <p class="lead">
                Obrigado por nos visitar!
            </p>
            
            <p class="lead">
                <strong>Equipe MedTagger</strong>
            </p>
        </div>
    </div>

</div>