@{
    ViewData["Title"] = "Erro";
}

<div class="container mb-5">

    <div class="row justify-content-center mb-4">
        <div class="col-6 text-center">
            <img class="img-fluid" src="~/img/Error.jpg" alt="Computadores com problemas exibindo a mensagem 'No Data'.">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h1 class="display-3 text-danger">Ops! Algo deu errado.</h1>
            <p class="display-6">
                Parece que estamos enfrentando alguns problemas técnicos no momento. Nossa equipe já está trabalhando para resolver isso o mais rápido possível. Por favor, tente novamente mais tarde.
                Se o problema persistir, entre em contato com nosso suporte técnico.
                
                Agradecemos pela sua paciência e compreensão. 
            </p>
        </div>
    </div>

</div>
