@{
    ViewData["Title"] = "Página não encontrada"; 
}

<div class="container mb-5">

    <div class="row justify-content-center mb-4">
        <div class="col-6 text-center">
            <img class="img-fluid" src="~/img/404.jpg" alt="Pessoas carregando os números 4, 0 e 4 para formar o status de não encontrado.">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h1 class="display-3 text-danger">Ops! Página não encontrada .</h1>
            <p class="display-6">Parece que você se perdeu no caminho. Não se preocupe, estamos aqui para ajudar!</p>
            <ul class="lead">
                <li>Verifique o endereço: Talvez haja um erro de digitação.</li>
                <li>Volte para a página inicial: <a asp-controller="Home" asp-action="Index" class="text-decoration-none">Clique aqui</a>.</li>
                <li>Navegue pelo nosso menu: Explore outras seções do nosso site.</li>
            </ul>

            <p class="lead">Se precisar de mais ajuda, entre em contato conosco. Estamos sempre prontos para ajudar!</p>
        </div>
    </div>

</div>
