<div class="container p-3">

    <div class="nav justify-content-center my-3">
        <a asp-controller="Home" asp-action="Index" class="nav-link link-secondary text-decoration-none">Principal</a>
        <a asp-controller="Home" asp-action="ClassifiedPrescribingInformation" class="nav-link link-secondary text-decoration-none">Bulas Classificadas</a>
        <a asp-controller="Home" asp-action="Contact" class="nav-link link-secondary text-decoration-none">Contatos</a>
        <a asp-controller="Home" asp-action="About" class="nav-link link-secondary text-decoration-none">Sobre Nós</a>
        <a asp-controller="Home" asp-action="WhereToStart" class="nav-link link-secondary text-decoration-none">Por Onde Começar</a>
        <a asp-controller="Auth" asp-action="Login" class="nav-link link-secondary text-decoration-none">Entrar</a>
        <a asp-controller="Auth" asp-action="SignUp" class="nav-link link-secondary text-decoration-none">Cadastro</a>
    </div>

    <hr>

    <div class="nav justify-content-between mt-3">

        <div class="d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="nav-link link-secondary text-decoration-none py-0 px-2">
                <strong>MedTagger</strong>
            </a>
            <span class="text-secondary px-2">&copy 2024 MedTagger</span>
        </div>

    </div>

</div>
