<div class="container py-4 mt-4">
    <div class="nav justify-content-center">
        <a href="#" class="nav-link link-secondary text-decoration-none">Principal</a>
        <a href="#" class="nav-link link-secondary text-decoration-none">Classificação Geral</a>
        <a href="#" class="nav-link link-secondary text-decoration-none">Classificação Sobre</a>
        <a href="#" class="nav-link link-secondary text-decoration-none">Contatos</a>
        <a href="#" class="nav-link link-secondary text-decoration-none">Sobre</a>
        <a href="#" class="nav-link link-secondary text-decoration-none">Entrar</a>
        <a href="#" class="nav-link link-secondary text-decoration-none">Cadastro</a>
    </div>

    <hr>

    <div class="nav justify-content-between">

        <div class="d-flex align-items-center">
            <a class="nav-link link-secondary text-decoration-none py-0 px-2" asp-controller="Home" asp-action="Index">
                <strong>MedTagger</strong>
            </a>
            <span class="text-secondary px-2">&copy 2024 MedTagger</span>
        </div>

        <div class="d-flex justify-content-evenly">

            <a class="nav-link link-secondary px-2" href="#">
                <i class="bi bi-linkedin fs-5"></i>
            </a>

            <a class="nav-link link-secondary px-2" href="#">
                <i class="bi bi-instagram fs-5"></i>
            </a>

            <a class="nav-link link-secondary px-2" href="#">
                <i class="bi bi-facebook fs-5"></i>
            </a>

        </div>
    </div>
</div>
