<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">MedTagger</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">

            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                <a asp-controller="Home" asp-action="WhereToStart" class="nav-link">Como Funciona?</a>
                <a asp-controller="Home" asp-action="ClassifiedPrescribingInformation" class="nav-link">Bulas Classificadas</a>
                <a asp-controller="Home" asp-action="Contact" class="nav-link">Contatos</a>
                <a asp-controller="Home" asp-action="About" class="nav-link">Sobre</a>
                @if(!User!.Identity!.IsAuthenticated)
                {
                    <a asp-controller="Auth" asp-action="Login" class="nav-link">Entrar</a>
                    <a asp-controller="Auth" asp-action="SignUp" class="nav-link">Cadastro</a>
                }
            </div>

            <div class="navbar-nav ms-auto mb-2 mb-lg-0">

                @if(User.Identity.IsAuthenticated)
                {
                    @if(User.IsInRole(UserRole.Admin.ToString()))
                    {
                        <a asp-controller="Admin" asp-action="AdminPanel" class="nav-link">Painel do Administrador</a>
                    }

                    <a asp-controller="User" asp-action="ChoosePrescribingInformation" class="nav-link">Comece a Classificar</a>

                    <div class="dropdown">
                        <button class="link nav-link dropdown-toggle p-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>@User.Identity.Name</span>
                            <i class="bi bi-person-circle"></i>
                        </button>
                        <ul class="dropdown-menu">
                            @* <li><a asp-controller="User" asp-action="YourClassifications" class="dropdown-item">Suas Classificações</a></li> *@
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form class="dropdown-item" asp-controller="User" asp-action="Logout">
                                    <button type="submit" class="btn btn-link text-decoration-none text-white p-0">Sair</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</nav>
