<div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
    @{
        var message = TempData["Message"] as Dictionary<string, string>;
    }
    @message!["error"]
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
</div>