@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-bg-color: #03A678;
  --secondary-bg-color: #02735E;
  --success-bg-color: #014040;
  --warning-bg-color: #F27405;
  --danger-bg-color: #731702;
}

.nav-link:hover{
  color: var(--secondary-bg-color) !important;
}

.img-logo{
  background-image: url("../img/logo.svg");
}