@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

:root {
  --medtagger-bg-primary: #014040;
  --medtagger-bg-success: #03A678;
  --medtagger-bg-secondary: #02735E;
  --medtagger-bg-warning: #F27405;
  --medtagger-bg-danger: #731702;
}

.nav-link:hover{
  color: var(--medtagger-bg-secondary) !important;
}

.btn-medtagger-primary {
  background-color: var(--medtagger-bg-primary) !important;
  color: white !important;
}
.btn-medtagger-primary:hover {
  background-color: var(--medtagger-bg-secondary) !important;
}

.btn-medtagger-primary:active{
  background-color: var(--medtagger-bg-warning) !important;
}

.btn-medtagger-warning {
  background-color: var(--medtagger-bg-warning) !important;
  color: white !important;
}
.btn-medtagger-warning:hover {
  background-color: var(--medtagger-bg-secondary) !important;
}

.btn-medtagger-warning:active{
  background-color: var(--medtagger-bg-primary) !important;
}

.text-color-success {
  color: var(--medtagger-bg-success)
}

.navbar-brand:hover{
  color: var(--medtagger-bg-success) !important;
}
